<% comments.first(2).each do |comment| %>
<div class="comment">
  <div class="comment-left">
    <% if comment.user.image_name.file.nil? %>
      <%= link_to("/users/#{comment.user.id}") do %>
        <image src="/assets/default_user.jpg"  %>
      <% end %>
    <% else %>
      <%= link_to("/users/#{comment.user.id}") do %>
        <img src='<%= comment.user.image_name %>'>
      <% end %>
    <% end %>
  </div>
  <div class="comment-right">
    <div class="comment-user-name">
      <%= link_to(comment.user.name, "/users/#{comment.user.id}") %>
    </div>
    <%=safe_join(comment.body.split("\n"),tag(:br))%>
    <% if comment.user == @current_user %>
      <%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, remote: true, class: "comment_destroy" do %>
        <span class="fa fa-trash"></span>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
<div class="comment_head">
  <%= comments.count %>件コメント
  <h6>もっと見る....</h6>
</div>
<div class="collapse" id="collapseExample">
  <% comments.offset(2).each do |comment| %>
  <div class="comment">
    <div class="comment-left">
      <% if comment.user.image_name.file.nil? %>
          <image src="/assets/default_user.jpg"  %>
      <% else %>
          <img src='<%= comment.user.image_name %>'>
      <% end %>
    </div>
    <div class="comment-right">
      <div class="comment-user-name">
        <%= link_to(comment.user.name, "/users/#{comment.user.id}") %>
      </div>
      <%=safe_join(comment.body.split("\n"),tag(:br))%>
      <% if comment.user == @current_user %>
        <%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, remote: true, class: "comment_destroy" do %>
          <span class="fa fa-trash"></span>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>        
</div>