<div class="users-edit">
  <div class="container">
    <div class="form-heading">アカウント編集</div>
    <div class="form users-form">
      <div class="form-body">
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages' %>
    
          <%= f.label :name %>
          <%= f.text_field :name %>
    
          <%= f.label :image_name %>
          <%= f.file_field :image_name %>
          
          <%= f.label :email %>
          <%= f.email_field :email %>
          
          <%= f.label :profile %>
          <%= f.text_area :profile, class: "profile" %>
          
          <%= f.submit "保存", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>