<div class="user-show">
  <div class="container">
    
    <div class="user">
      <% if @user.image_name? %>
        <img src='<%= @user.image_name %>'>
      <% else %>
        <image src="/assets/default_user.jpg"  %>
      <% end %>
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
      <li>
        <% if @user.profile == nil %>
        <p>ーーーーー</p>
        <% else %>
        <p class="user-comment"><%= simple_format(@user.profile) %></p>
        <% end %>
      </li>
    </div>
    
    <ul class="user-tabs">
      <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li class="active"><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>
    
    <% @likes.each do |like| %>
      <% post = Post.find_by(id: like.post_id) %>
      
      <div class="posts-index-item">
        <div class="post-left">
          <% if post.user.image_name.file.nil? %>
            <%= link_to("/users/#{post.user.id}") do %>
              <image src="/assets/default_user.jpg"  %>
            <% end %>
          <% else %>
            <%= link_to("/users/#{post.user.id}") do %>
              <img src='<%= post.user.image_name %>'>
            <% end %>
          <% end %>
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>
        </div>
      </div>
    <% end %>
    
  </div>
</div>