<div class="users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <%= form_for(@user, url: signup_path) do |f| %>
          <%= render 'shared/error_messages' %>
          <%= f.label :name %>
          <%= f.text_field :name %>
    
          <%= f.label :email %>
          <%= f.email_field :email %>
    
          <%= f.label :password %>
          <%= f.password_field :password %>
    
          <%= f.submit "新規登録", class: "btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>