<div class="user-show">
  <div class="container">
    
    <div class="user">
      <% if @user.image_name? %>
        <img src='<%= @user.image_name %>'>
      <% else %>
        <image src="/assets/default_user.jpg"  %>
      <% end %>
      <h2><%= @user.name %></h2>
      <% if @current_user %>
        <% if @user.id == @current_user.id %>
          <p><%= @user.email %></p>
          <%= link_to("編集", edit_user_path(@user)) %>
        <% end %>
      <% end %>
      <li>
        <% if @user.profile == nil %>
        <p>ーーーーー</p>
        <% else %>
        <p class="user-comment"><%= simple_format(@user.profile) %></p>
        <% end %>
      </li>
      <% if @current_user %>
        <% if @user.id != @current_user.id %>
          <%= render 'follow_form'%>
        <% end %>
      <% end %>
    </div>
    
    <ul class="user-tabs">
      <li class="tab">
        <a>投稿
          <strong class="stat">
            <%= @user.posts.count %>件
          </strong>
        </a>
      </li>
      <li class="tab">
        <a>いいね!
          <strong class="stat">
            <%= @likes.count %>件
          </strong>
        </a>
      </li>
      <li class="tab">
        <a>フォロー中
          <strong class="stat">
            <%= @user.following.count %>人
          </strong>
        </a>
      </li>
      <li class="tab">
        <a>フォロワー
          <strong class="stat">
            <%= @user.followers.count %>人
          </strong>
        </a>
      </li>
    </ul>
    
    <li class="page"><%= render 'show_posts'%></li>
    <li class="page"><%= render 'show_likes'%></li>
    <li class="page"><%= render 'show_following'%></li>
    <li class="page" id="follower"><%= render 'show_follower'%></li>
  </div>
</div>