<div class="posts-index">
  <div class="container">
    <div class="jscroll">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
          <% if post.user.image_name.file.nil? %>
            <%= link_to("/users/#{post.user.id}") do %>
              <image src="/assets/default_user.jpg"  %>
            <% end %>
          <% else %>
            <%= link_to("/users/#{post.user.id}") do %>
              <img src='<%= post.user.image_name %>'>
            <% end %>
          <% end %>
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
          <div class="noline">
          <%= link_to("/posts/#{post.id}") do %>
            <%=safe_join(post.content.split("\n"),tag(:br))%>
            <% if post.photos %>
              <div class="post-photos">
                <ul class="flex-list">
                <% post.photos.each do |photo| %>
                  <li><img src="<%= photo.post_image %>"></li>
                <% end %>
                </ul>
              </div>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @posts %>
    </div>
  </div>
</div>
        