<div class="posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <div class="form">
      <div class="form-body">
        <%= form_for @post do |f| %>
          
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          
          <%= f.fields_for :photos do |image| %>
            <%= image.file_field :post_image %>
            <%= image.hidden_field :id, value: image.object.id %>
          <% end %>
          
          <textarea name="content"><%= @post.content %></textarea>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
