<div class="posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <div class="form">
      <div class="form-body">
        <%= form_for @post do |f| %>
          
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          
          <div class="image">
            <div class="image__inner">
              <div class="teams">
                <h3 class="team">写真</h3>
              </div>
              <div class="image__inner__container">
                <div class="prev-content"></div>
                <div class="label-content">
                  <label class="label-box" for="post_photos_attributes_0_image" id="label-box--0">
                    <pre class='label-box__text-visible'>クリックしてファイルをアップロード</pre>
                    <p>最大5枚までアップロードできます</p>
                  </label>
                </div>
                <div class='hidden-content'>
                  <%= f.fields_for :photos do |i| %>
                    <%= i.file_field :image, class:"hidden-field" %>
                    <input class="hidden-field" id="post_photos_attributes_1_image" name="post[photos_attributes][1][post_image]" type="file"></input>
                    <input class="hidden-field" id="post_photos_attributes_2_image" name="post[photos_attributes][2][post_image]" type="file"></input>
                    <input class="hidden-field" id="post_photos_attributes_3_image" name="post[photos_attributes][3][post_image]" type="file"></input>
                    <input class="hidden-field" id="post_photos_attributes_4_image" name="post[photos_attributes][4][post_image]" type="file"></input>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          
          <textarea name="content"><%= @post.content %></textarea>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
