<!DOCTYPE html>
<html>
  <head>
    <title>Camp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("△", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("新規投稿", "/posts/new") %>
        </li>
        <li>
          <%= link_to("タイムライン", "/") %>
        </li>
        <li>
          <%= link_to("新規登録", "/signup") %>
        </li>
        <li>
          <%= link_to("ログイン", "/login") %>
        </li>
      </ul>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
    <div class="footer">
      <div class="footer-logo">Camp</div>
      <div class="footer-list">
        <ul class="footer-list">
          <li>利用規約</li>
          <li>お問い合わせ</li>
        </ul>
      </div>
    </div>
  </body>
</html>
