<!DOCTYPE html>
<html>
  <head>
    <title>Camps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="responsive.scss">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("/") do %>
          <%= image_tag 'header_icon.png' %>
        <% end %>
        <div class="logo-name">
          <%= link_to("Camps", "/") %>
        </div>
      </div>
      <div class="menu-icon">
        <input id="nemu" type="checkbox"></input>
        <label for="menu" class="open"><i class="fa fa-bars"></i></label>
        <label for="menu" class="back"></label>
        <label for="menu" class="close"><i class="fa fa-times"></i></label>
      </div>
    </header>
    
    <div class="main">
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    
    <div class="aside">
      <nav>
        <ul>
        <% if @current_user %>
          <li>
            <%= link_to("新規投稿", "/posts/new") %>
          </li>
          <li>
            <%= link_to("タイムライン", "/") %>
          </li>
          <li>
            <%= link_to("ログアウト", "/logout", {method: :post}) %>
          </li>
        <% else %>
          <li>
            <%= link_to("タイムライン", "/") %>
          </li>
          <li>
            <%= link_to("新規登録", new_user_path) %>
          </li>
          <li>
            <%= link_to("ログイン", "/login") %>
          </li>
        <% end %>
        </ul>
      </nav>
      <div id='footer'>
        <p><small>&copy; 2020 Camp All rights reserved.</small></p>
      </div>
    </div>
      
    <script src="application.js"></script>
  </body>
</html>
